# This file is where you keep secret settings, keep it safe and keep a backup.

secrets = {
    # WiFi network variables
    'ssid' : 'YOUR_WIFI_NETWORK',
    'password' : 'YOUR_WIFI_PASSWORD',
    # Hosted service variables
    'broker' : 'mqtt.wificom.dev',
    'mqtt_username' : 'YOUR_WIFICOM.DEV_EMAIL,
    'mqtt_password' : 'YOUR_WIFICOM.DEV_ACCOUNT_PASSWORD',
    'user_uuid': 'FIND_ON_WIFICOM.DEV',
    'device_uuid': 'FIND_ON_WIFICOM.DEV',
} 