name: Merge libs into release and branch, create artifacts for testing

on:
  release:
    types: [created]
  push:
  pull_request:

jobs:
  merge_libs:
    runs-on: ubuntu-latest

    steps:
      - name: Set Env Variable
        run: |
          echo "FILENAME=release" >> $GITHUB_ENV

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: JSON to variables
        uses: antifree/json-to-variables@v1.0.1
        with:
          filename: 'sources.json'
          prefix: sources

      - name: Download and extract sources
        run: |
          for key in dmcomm_python adafruit_bundle circuitpython_minimqtt; do
            value=$(eval echo "\$sources_$key")

            echo "Downloading and extracting $key..."
            wget $value -O sources_$key.zip
            unzip -q sources_$key.zip -d sources_$key

            echo "$key successfully downloaded and extracted."
          done

      - name: Merge libs
        run: |
          cp -r sources_dmcomm_python/*/lib/* lib/
          cp -r sources_adafruit_bundle/*/lib/adafruit_bus_device lib/
          cp -r sources_adafruit_bundle/*/lib/adafruit_display_text lib/
          cp -r sources_adafruit_bundle/*/lib/adafruit_displayio_ssd1306.mpy lib/
          cp -r sources_adafruit_bundle/*/lib/adafruit_requests.mpy lib/
          cp -r sources_adafruit_bundle/*/lib/adafruit_esp32spi   lib/
          cp -r sources_circuitpython_minimqtt/*/lib/* lib/

      - name: Concatenate Licenses
        run: |
          echo -e "\n\n\ndmcomm-python" >> LICENSE.txt
          echo "https://github.com/dmcomm/dmcomm-python" >> LICENSE.txt
          curl https://raw.githubusercontent.com/dmcomm/dmcomm-python/main/LICENSE.txt >> LICENSE.txt
          echo -e "\n\n\nAdafruit_CircuitPython_Bundle" >> LICENSE.txt
          echo "https://github.com/adafruit/Adafruit_CircuitPython_Bundle" >> LICENSE.txt
          curl https://raw.githubusercontent.com/adafruit/Adafruit_CircuitPython_Bundle/main/LICENSE >> LICENSE.txt
          echo -e "\n\n\nAdafruit_CircuitPython_MiniMQTT" >> LICENSE.txt
          echo "https://github.com/adafruit/Adafruit_CircuitPython_MiniMQTT" >> LICENSE.txt
          curl https://raw.githubusercontent.com/adafruit/Adafruit_CircuitPython_MiniMQTT/main/LICENSE >> LICENSE.txt
      
      - name: Cleanup folder
        id: cleanup_folder
        run: |
          rm -f release.zip
          rm -rf sources_dmcomm_python sources_adafruit_bundle sources_circuitpython_minimqtt *.zip

      - uses: actions/upload-artifact@v3
        with:
          name: wificom_libs_merged.zip
          path: .

      - name: Create archive
        id: create_archive
        run: |
          rm -rf sources_dmcomm_python sources_adafruit_bundle sources_circuitpython_minimqtt *.zip
          zip -r release.zip --exclude=lib/wificom *
          if [[ $GITHUB_REF =~ refs/tags/.* ]]; then
            filename="wificom-lib_$(echo $GITHUB_REF | awk -F/ '{print $3}').zip"
          else
            filename="wificom-lib_$GITHUB_SHA.zip"
          fi
          current_value=$FILENAME
          modified_value="$filename"
          echo "FILENAME=$modified_value" >> $GITHUB_ENV
          cp release.zip $filename
        shell: /usr/bin/bash -e {0}

      - name: Attach to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.FILENAME }}